<template>
  <div id="app">
    <div class="home">
          <div class="home-left">
            <tree></tree>
          </div>
          <div class="home-right">
            <codeview></codeview>
          </div>
    </div>

    <router-view class="view"></router-view>
  </div>
</template>

<script>

import tree from '../components/tree.vue'
import codeview from '../components/code-view.vue'
export default {
  name: 'home',
  components: {tree, codeview},
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.home{
  flex-direction: row;
    display: flex;
}
.home-left{
  width: 300px;
  display: flex;
  overflow: auto;
  flex-shrink: 0;
  min-height: 1px;
  flex-direction: column;
  padding: 15px 0px 10px 15px;
}

.home-right{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1px;
  overflow: auto;
  padding: 0px 15px 10px;
}
</style>
