<template>
  <div>
    code
  </div>
</template>

<script>

export default {
  name: 'RepoTree',
  data() {
    return {
      loading: true,
      open: false,
      data: [],
    };
  },
  methods: {

  },

};
</script>
<style lang="scss" scoped>
.repo-tree {
  padding: 15px 0;
  flex-grow: 1;
  min-height: 1px;
  overflow: auto;
}
</style>

