<template>
  <div class="repo-tree">
    <template v-for="i in data" >
      <TreeNode :key="i.id" :item="i" :deep="0"/>
    </template>
  </div>
</template>

<script>
import * as gitlabService from '../../../services/gitlabService';
import TreeNode from './tree-node.vue';

export default {
  name: 'RepoTree',
  components: { TreeNode },
  data() {
    return {
      loading: true,
      open: false,
      data: [],
    };
  },
  methods: {
    handleFetch() {
      this.loading = true;
      gitlabService.getGitlabTree("src/main/java").then(({ data }) => {
        this.loading = false;
        console.log('hello')
        console.log(data)
        this.data = data;
      });
    },
  },
  beforeMount() {
    this.handleFetch();
  },
};
</script>
<style lang="scss" scoped>
.repo-tree {
  padding: 15px 0;
  flex-grow: 1;
  min-height: 1px;
  overflow: auto;
}
</style>
